Repository lapce/lapce, pull requests merged in 2022-11, with the labels that each got.

#1710 Fix autosave trying to save scratch files
  CHANGELOG.md
  lapce-ui/src/editor/view.rs
Labels: A-editor

#1709 Use IndexMap to avoid changing search result order
  CHANGELOG.md
  Cargo.lock
  lapce-data/src/command.rs
  lapce-data/src/search.rs
  lapce-proxy/Cargo.toml
  lapce-proxy/src/dispatch.rs
  lapce-rpc/Cargo.toml
  lapce-rpc/src/proxy.rs
  lapce-ui/src/tab.rs
Labels: A-ui, A-search

#1708 Fix visual bug in search panel
  CHANGELOG.md
  lapce-ui/src/search.rs
Labels: A-ui, A-search

#1720 Impl displaying signature from LSP
  CHANGELOG.md
  defaults/keymaps-macos.toml
  defaults/keymaps-nonmacos.toml
  defaults/settings.toml
  lapce-core/src/command.rs
  lapce-data/src/command.rs
  lapce-data/src/config.rs
  lapce-data/src/data.rs
  lapce-data/src/editor.rs
  lapce-data/src/markdown/mod.rs
  lapce-data/src/proxy.rs
  lapce-data/src/signature.rs
  lapce-proxy/src/dispatch.rs
  lapce-proxy/src/plugin/lsp.rs
  lapce-proxy/src/plugin/mod.rs
  lapce-proxy/src/plugin/psp.rs
  lapce-rpc/src/core.rs
  lapce-rpc/src/proxy.rs
  lapce-ui/src/completion.rs
  lapce-ui/src/editor.rs
  lapce-ui/src/lib.rs
  lapce-ui/src/signature.rs
  lapce-ui/src/tab.rs
Labels: A-ui, A-lsp

#1723 Display the keybinding of a command within the palette
  CHANGELOG.md
  lapce-data/src/data.rs
  lapce-data/src/palette.rs
  lapce-ui/src/palette.rs
  lapce-ui/src/status.rs
Labels: A-ui

#1722 Add save without formatting; Allow toggling of formatting for autosave
  CHANGELOG.md
  defaults/settings.toml
  lapce-core/src/command.rs
  lapce-data/src/config.rs
  lapce-data/src/editor.rs
  lapce-ui/src/editor/view.rs
Labels: A-editor

#1713 Add protobuf language support
  CHANGELOG.md
  Cargo.lock
  lapce-core/Cargo.toml
  lapce-core/queries/protobuf/highlights.scm
  lapce-core/queries/protobuf/injections.scm
  lapce-core/src/language.rs
  lapce-core/src/syntax/highlight.rs
  lapce-proxy/src/buffer.rs
  lapce-ui/Cargo.toml
Labels: A-syntax

#1753 Limit search response size to avoid crash/perf issues
  CHANGELOG.md
  lapce-proxy/src/dispatch.rs
Labels: C-perf, A-search
